<table class="display nowrap table table-bordered">
  <thead>
  <tr>
  <th>EID</th>
  <th>E-NAME</th>
  <th>EDIT AND DELETE</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let i of users">
  <td>{{i.EID}}</td>
  <td>{{i.ENAME}}</td>
  <td><button type="button" id="delete" (click)="deleteEmployee(i.id)" class="btn btn-info pull-right">Delete</button>
  <button type="button" id="edit" (click)="editEmployee(i.id)" class="btn btn-info pull-right">Edit</button></td>
  </tr>
  </tbody>
  <tfoot>
  </tfoot>
  </table> 
   